
<suite name="FoodTruckTestSuite">
	
    
		
	<test name="RegistrarProveedorChrome">
		<parameter name="testlinkIdNavegador" value="2"/>
		<parameter name="testlinkNombreNavegador" value="Chrome"/>
		<parameter name="rutaArchivoExcel" value="C:\Users\User\Downloads\InsertarFoodTruck.xlsx" />
		<parameter name="navegador" value="chrome" />
		<parameter name="remoto" value="0" />
		<classes>
			<class name="com.FT.test.system.selenium.testcase.InsertarFoodTruckTest"/>
		</classes>
	</test>
	
	
</suite>
